@charset "UTF-8";

.container {
    display: flex; /* Faz com que os elementos filhos sejam dispostos em linha */
    align-items: center; /* Alinha os elementos filhos verticalmente no centro */
}

header > .link-instagram {
    display: inline-block; /* Garante que a imagem seja tratada como um bloco para aplicar transformações */
    transition: transform 0.3s ease; /* Suaviza a transição da transformação */
    margin-top: 4px;
    margin-left: 10px;
}

header > .link-instagram:hover {
    transform: scale(1.3); /* Aumenta o tamanho da imagem em 30% quando o mouse passa sobre ela */
}


body {
    background-color: rgb(199, 199, 199);
    background-image: url('../imagens/fundo-removebg-preview.png');
    background-repeat: no-repeat; /*Para não repetir a imagem*/
    background-size: cover;
}
/* body#imagem_fundo {
    z-index: -1;
    opacity: 0.5;
} */